<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ces-generator">
    <test name="single">
        <parameter name="mode" value="SINGLE"/>
        <classes>
            <class name="com.tmdaq.ces.generator.plugin.template.SingleTemplateTest">
                <methods>
                    <include name="testGenerator"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="dual">
        <parameter name="mode" value="DUAL"/>
        <classes></classes>
    </test>
    <test name="workflow">
        <parameter name="mode" value="WORKFLOW"/>
        <classes>
            <class name="com.tmdaq.ces.generator.plugin.template.WorkFlowTemplateTest">
                <methods>
                    <include name="testGenerator"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.tmdaq.testng.util.InitTestCase"/>
    </listeners>
</suite>